{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="container full">
        <div class="row">
            <div class="col-md-6 offset-md-3 bg-light p-3">
                <h1>Connexion</h1>
                {# gestion des erreur #}
                {% if hasError %}
                    <div class="alert alert-danger">
                        Une erreur est survenue, le nom de l'utilisateur ou le mot de passe est invalide
                    </div>
                {% endif %}
                {% if loginError %}
                    <div class="alert alert-danger my-2">
                        {{loginError}}
                    </div>
                {% endif %}
                <form action="{{ path('account_login')}}" method="POST">
                    <div class="form-group my-2">
                        <label for="email">E-Mail</label>
                        {# symfony veut un name précis pour le login : _username #}
                        <input type="text" name="_username" id="email" class="form-control" placeholder="Adresse E-mail..." required value={{ username }}>
                    </div>
                    <div class="form-group my-2">
                        <label for="password">Mot de passe</label>
                        {# symfony veut un name précis pour le password : _password #}
                        <input type="password" name="_password" id="password" placeholder="Votre mot de passse" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Connexion" class="btn btn-success">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
