{% extends "base.html.twig" %}

{% block title %}Erreur{% endblock %}

{% block body %}
    <div class="container full">
        <h1>Accès refusé</h1>
        <div class="alert alert-danger">
            <p>Vous n'avez pas le droit d'accéder à cette ressource!</p>
            {{dump(exception)}}
            <p>{{exception.message}}</p>
        </div>
        <a href="{{path('homepage')}}" class="btn btn-primary m-2">Retour à l'accueil</a>
    </div>
{% endblock %}